.service--hero-image img {
  object-fit: cover;
  display: block;
  width: 100vw;
  height: 400px;
}
.service--hero-image{
    position: relative;
}
.service--hero-image::before{
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.service--hero-image .quote{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    font-size: 32px;
    width: 40%;
    position: absolute;
    top: 25%;
    left: 25%;
}
.service--hero-image .author__name{
    align-self: flex-end;
    display: block;
    font-size: 16px;
}
.services--description {
  margin: 1.5rem 3rem;
  border: 2px solid skyblue;
  border-radius: 8px;
  padding: 2em;
}
.services--description hr {
  text-align: center;
  width: 180px;
  height: 5px;
  background-color: black;
  border: none;
  margin: auto;
  margin-bottom: 1rem;
}
.services--description > p {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}
.content {
  display: flex;
}
.services__description__image {
  flex-basis: 30%;
}
.description {
  flex-basis: 70%;
}
.description p {
  font-size: 20px;
  margin-left: 1rem;
}
.services__description__image img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.home--about--content h3 {
  margin-bottom: 1.4rem;
}

.home--about--content main p {
  margin-bottom: 1rem;
}
.description {
  font-size: 14px;
}
.description__button {
  padding: 0.4em 0.8em;
  margin: 0.4em;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(
    180deg,
    var(--main-light),
    var(--main-dark)
  );
  border: none;
  min-width: 24px;
 

}

/* keypoints styles */

.services--key-points {
  display: flex;
}
.man__image {
  background-image: linear-gradient(
    180deg,
    var(--main-light),
    var(--main-dark)
  );
  padding: 1rem;
  width: 500px;
  max-width: 500px;
}
.man__image > img {
  object-fit: cover;
  width: 100%;
}
.keypoints {
  margin: 1rem 0;
  padding: 5rem;
  border-bottom: 2px solid var(--main-light);
  border-top: 2px solid var(--main-light);
  width: 100%;
}
.point {
  position: relative;
  border: 1px solid var(--main-light);
  padding: 1rem;
  padding-top: 1.5rem;
  margin: 2rem;
  border-radius: 5px;

  background-color: rgba(214, 214, 214, 0.39);
}
.keypoint__content {
  height: 200px;
  overflow-y: scroll;
}

.keypoint__content::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  width: 10px;
}

.keypoint__content::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.199);
  width: 10px;
  border-radius: 10px;
}

.number {
font-size: 18px;
font-weight: bolder;
  width: 30px;
  height: 30px;
  background-color: var(--main-dark);
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 10px;
  text-align: center;
  color: white;
}

.man__image p {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Services FAQ styling */

.services--faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 3rem 1rem;
}
.services--faqs > p{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.services--faqs hr {
    width: 60px;
    height: 3px;
    background-color: black;
    border:none;
}
.faq {
  width: 300px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--main-light);
  border-radius: 5px;
  font-weight: 500;
}
.faq li::marker {
  color: var(--main-dark);
}
.faq__header button {
  border: none;
}
.faq__header {
  display: flex;
  justify-content: space-between;
}
.faq__header svg {
  color: var(--main-light);
  width: 16px;
  height: 16px;
}

.faq__answer {
  font-size: 14px;
  font-weight: 400;
  padding: 0.5rem;
  border-top: 1px solid rgba(136, 136, 136, 0.199);
}

@media screen and (min-width: 750px) {
  .services--description {
    margin: 2rem 10rem;
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 2em;
  }

  .faq {
    width: 700px;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--main-light);
    border-radius: 5px;
    font-weight: 500;
  }
  .description__button {
    font-size: 18px;
  }
  .description {
    font-size: 16px;
  }
}
