#mailbox {
    outline: none;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;
}    



.footer--container {
  color: white;
  background-color: var(--main-light);
  font-size: 14px;
  padding: 1em;
  padding-top: 2em;
  position: relative;
}
.footer--container img {
  width: 15px;
  height: 15px;
  display: block;
  margin: 0.4em;
}
.footer--links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-top: 1em;
  /* place-items: ; */
}
.footer--logo {
  grid-column: 1/ -1;
}

.footer--quick-links div > * {
  margin-bottom: 0.5rem;
}

.footer--quick-links,
.footer--contact-details {
  justify-self: center;
}
.footer--contact-details > div {
  display: flex;
  align-items: center;
}

.footer--contact-us {
  font-size: 14px;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 .5rem 2px rgba(0,0,0, 0.4);
  background-color: var(--main-dark);
  position: absolute;
  top: -8%;
  left: 10%;
  right: 10%;
}

.footer--contact-us > *{
    flex-grow: 1;
}

#footer-contact-us-btn{
    color:white;
    font-weight: bolder;
    position: absolute;
    top:25%;
    bottom:25%;
    right:2.2%;
    border-radius: 25px;
    width: 100px;
    border:none;
    background-image:linear-gradient(180deg,var(--main-dark) ,var(--main-light))
}



.social--links {
  display: flex;
  justify-content: space-evenly;
}

.footer--home {
  display: flex;
  justify-content: center;
}

.footer--home img {
  width: 50px;
  height: 50px;
}

.footer--copyright {
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
}

.footer--copyright > * {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 750px) {

    .footer--contact-us {
        font-size: 28px;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        background-color: var(--main-dark);
        position: absolute;
        top: -8%;
        left: 10%;
        right: 10%;
      }
      
    
    #mailbox {
        outline: none;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 25px;
        border: none;
    }    

   
  .footer--container {
    background-color: var(--main-light);
    font-size: 16px;
    padding: 1em;
    position: relative;
  }

  .footer--container img {
    width: 30px;
    height: 30px;
  }
  .footer--links {
    display: flex;
    justify-content: space-between;
  }

  .footer--links > * {
    flex-basis: 100%;
  }

  .footer--logo {
  }
  .footer--home img {
    width: 100px;
    height: 100px;
  }

  .footer--quick-links {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer--quick-links div > * {
    padding-bottom: 0.5rem;
  }

  .footer--contact-details {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  .footer--contact-details > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer--contact-us {
    right: 25%;
    left: 25%;
  }
}
