
.nav-bar{
  display: none;
}
#home {
  position: relative;
  visibility: hidden;
 
}
#home::after {
  visibility: visible;
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /* border: 1px solid; */
  position: absolute;
  top: -12px;
  right: -50%;
  cursor: pointer;
  border: 5px solid white;
  background: url("../images/FDS-circle.png");
  background-color: white;
  background-size: 6rem;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  /* box-shadow: 0px 20px 15px 0px rgba(50, 50, 50, 0.75); */
  box-shadow: 0px 20px 25px -12px rgba(117, 117, 117, 0.67);

}
.nav-bar li:hover{
  border-radius: 4px;
  color:white;
  background-color: var(--main-light);
}
.nav-bar a{
  padding: .25rem .25rem;
}
.nav-bar a:hover{
  color:white;
  background-color: var(--main-light);
}

/* Mobile Navigation starts */
.mob-nav-bar {
  background-color: white;
  font-size: 14px;
  position: sticky;
  z-index: 1000;
  box-shadow: 0 0.5em 1em rgba(70, 68, 68, 0.678);
}
.mob-bar{
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  align-items: center;
}
.hamb{
  position: absolute;
  display: block;
  right: 1em;
  top:1.5em;
}
.show-mob-menu{
  display: flex;
  position: absolute;
  top: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--main-light);
}
.mob__logo ,
.show-mob-menu a{
 
  color:white;
  text-decoration: none;
  padding: .3rem;
}
.mob__logo > img{
  object-fit: cover;
  width: 50px;  
  height: 50px;
}

.hide-mob-menu{
  display: none;
}

.menu-button{
  font-size: 18px;
  padding: .8em;
  margin: .8em;
  border: none;
  background:none;
  cursor: pointer;

}

.request__quote__btn{
  padding: 1rem 1rem;
  margin: 0.4rem;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(
    180deg,
    var(--main-light),
    var(--main-dark)
  );
  border: none;
  min-width: 24px;
}


@media screen and (min-width:750px) {
  .nav-bar {
    background-color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 14em;
    padding-top: 2em;
  
    position: relative;
    z-index: 1000;
    box-shadow: 0px 0px 20px 2px rgba(117, 117, 117, 0.67);

    flex-wrap: wrap;
    height: auto;
    width: auto;
   
  }
  .nav-bar .request__quote__btn{
    padding: .2rem 1rem;
    color:white
  }
  .nav-bar a{
    border-radius: 4px;
    text-decoration: none;
    color: #494949;
    padding: .25rem .5rem;
    margin:.25rem;
   
  }
  .mob-nav-bar{
    display: none;
  }
  .hamb{
    display: none;
  }
  #services{
    position: relative;
    width: 56px;
  }
  .dropdown{
   height: 0;
   visibility: hidden;
   
  }
  .active li{
    margin:.5rem;
    padding:.5rem;
    border-bottom: 1px solid var(--main-light);
  }
  .active li:last-of-type{
    border: none;
  }
  .active{
    background-color: white;
    visibility: visible;
    
    list-style: none;
    top:200%;
    left: -20%;
    position: absolute;
    display: block;
    
    transition: all 250ms ease-out;
  }
  
}
