.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  flex-direction: column;
  position: relative;
  overflow: hidden;
  left: 0;
}

.slider__btn {
  font-size: 18px;
  padding: 0.4em 0.8em;
  margin: 0.4em;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(
    180deg,
    var(--main-light),
    var(--main-dark)
  );
  border: none;
  min-width: 24px;
}
.image {
  object-fit: cover;
  display: block;
  width: 100vw;
  height: 500px;
}

.slide {
  pointer-events: none;
  opacity: 0;
  /* transform: translateX(-100%); */
  
}
.slide.active {
  /* animation: slider 5s; */
  
  opacity: 1;
  /* transform: translateX(0); */
  /* transition: all 1s ease-in; */
  max-height: 100%;
}

@keyframes slider {
  0% {
  transform:translateX(-100%);

  }
  33%{
    transform:translateX(0);

  }
  100% {
    transform:translateX(100%);
    
  }
}




.controls {
  position: absolute;
  display: block;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0 0.8em;
  bottom: 0;
}
.controls svg {
  width: 30px;
  height: 30px;
  color: #adadad;
}
.left-control {
  top: 0;
  left: 0;
}
.right-control {
  right: 0;
  top: 0;
}

.image__tagline {
  position: absolute;
  top: 40%;
  left: 18%;
}

.image__tagline > p {
  font-size: 1rem;
  font-weight: bolder;
}

.slider .control--dots {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
}
.dot {
  width: 7px;
  height: 7px;
  background-color: rgb(104, 101, 101);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .image__tagline > p {
    font-size: 3rem;
    font-weight: bolder;
  }
}
