.all--cards a{
    text-decoration: none;
    color:#1b1b1b;
    width: 100%;
    display: flex;
    justify-content: center;

}
.all--cards{
    display: grid;
    grid-template-columns:1fr;
    place-items: center;
  
}

.card--container{
    text-align: center;
    
}
.card--container > h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: .5rem;
}

@media screen and (min-width:750px) {
    .all--cards{
        margin:2.5rem 12rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;

    }
    
}