
/* 
box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15); */
.vision__mission{
    background-image: url('../images/pattern.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 4rem 0;
 
}
.vision__image img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.vision__image{
    flex-basis: 100%;
 }

 .vision__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    
}
.vision__content .headers{
    font-weight: bolder;
    position: relative;
}
.vision ,.mission{
    margin-bottom: 1rem;
}


/* Statistics  */
.stats{
    background-image: url('../images/stats.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4rem 0;
    color: white;
    margin-bottom: 6rem;
}
.statistics{
    padding: 1rem;
    margin: 1.5rem;
    margin-left: 3rem;
   
}
.statistics p{
    font-size: 32px;
    font-weight: bolder;
}

.stat{
    font-size: 22px;
    font-weight: bold;
   
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
}
.fig{
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

@media screen and (min-width:750px) {
   
    .vision__image{
       flex-basis: 70%;
    }
  
    
    .vision__content{
        font-size: 18px;
        
    }
    .statistics{
        padding: 1rem;
        margin: 1.5rem;
        margin-left: 3rem;
        width: 40%;
    }
    
}