/* 
.slide--container{
    
    max-width: 600px;
    height: 400px;
   
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 50% 100%, 29% 76%, 0% 75%);
    position: relative;
    background-color: white;
    left:-100px;
   
}
.slider--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.slider--container h1{
    padding: 1rem;
    border-bottom: 1px solid grey;
}

.slider--container >h3{
    margin: 2rem ;
    width: 100%;
    text-align: center;
}


.control--dots{
    display: flex;
    justify-content: center;
}
.dot{
 width: 5px;
 height: 5px;
 background-color: grey;
 border-radius: 50%;
 margin: 5px;
 cursor: pointer;
}
.slide--container::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow:-8px -8px .5rem -1px grey
    ;
   
    top: -20px;;
    border-radius: 10px;
}

.slide--container::before {
    left: 42%;
    transform: rotate(45deg);
    z-index: -1;
}


.active{
    padding: 1.5rem;
    
    margin: 1rem;
    box-shadow:0 0 .5rem .2rem grey;

    border-radius: 25px;
    display: block;
    left:0;
    color: red;
    transition: color 250ms ease-out;
   
}


@media screen and (min-width:750px) {





.slide--container{
    max-width: 600px;
    height: 400px;
    
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 50% 100%, 29% 76%, 0% 75%);
    position: relative;
    background-color: white;
    height: 200px;
    left:-100px;
   
}

.slide--container::before{
    left:45%;
}





    
} */


.slider--container{
    margin:1rem;
    padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: normal;
    margin-bottom: 4rem;
}
.slider--container >h3{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}
.clientSlider__content p{
    margin: 1rem 0;
}
.clientSlider__content span{
    display: inline;
    width: 100%;
    text-align: center;
}

.client__highlight{
    display: flex;
}

.inverted--comma{
    width: 50px;
    height: 40px;
    display: inline-block;

}
.company--logo{
    height: 50px;
    object-fit: cover;
    display: inline-block;
}

.client__slide{
    pointer-events: none;
    opacity: 0;
    /* transform:translateX(100%); */
    background-color: white;
    
}

@keyframes slider {
    0% {
    transform:translateX(-200%);

    }
    33% {
    transform:translateX(0);

    }
    100% {
    transform:translateX(500%);

    }
}
.client__slide.active{
    animation: slider 20s infinite;
  
    opacity: 1;
    /* transform: translateX(0); */
    
    padding: 1.5rem;
    width: 100%;
    margin: 1rem;
    margin-top: 2rem;
    box-shadow:0 0 .5rem .2rem grey;
    
    border-radius: 25px;
    display: block;
    left:0;
    /* transition: transform  500ms ease-out; */
}

.client__slide::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow:-6px -6px 6px -5px rgba(171,169,169,0.67);
   
    top: -20px;;
    border-radius: 10px;
}

.client__slide::before {
    left: 47%;
    transform: rotate(45deg);
    z-index: -1;
}



.control--dots{
    display: flex;
    justify-content: center;
}
.dot{
 width: 7px;
 height: 7px;
 background-color: grey;
 border-radius: 50%;
 margin: 5px;
 cursor: pointer;
}

.quotes{
    width: 50px;
    height: 50px;
}

@media screen and (min-width:750px) {
    .slider--container{
        padding:1rem 14rem;
    }
    
    .client__slide{
        pointer-events: none;
        opacity: 0;
        transform:translateX(-100%);
        width: 600px;
    }
    .client__slide.active{
      
        opacity: 1;
        transform: translateX(0);
        max-height: 100%;
        padding: 1.5rem;
        
        margin: 1rem;
        margin-top: 2rem;
        height: 250px;
       
        /* box-shadow:0 0 .5rem .2rem grey; */
        box-shadow: 0px 0px 20px 2px rgba(171,169,169,0.67);
        
        border-radius: 50px;
        display: block;
        left:0;
        transition: transform  500ms ease-out;
    }
}