.slider--container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}

.slide--container{
   width: 600px;
    /* height: 400px; */
    padding: 1.5rem;
    margin: 1rem;
    box-shadow:0 0 .5rem .2em grey;
    /* border-radius: 20px; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 50% 100%, 29% 76%, 0% 75%);
    background-color: yellow;
}
.slide--container h3{
    margin: 8px;
    width: 100%;
}
