*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main-dark:#20528b;
  --main-light:#247dd3;
}

body{
  background-color: rgb(247, 247, 247);
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width:400px) {
  body{
    font-size: 14px;
  }
}